<!-- Form Layout -->
<div class="card">
    <div class="card-body">
      <h4 class="mb-32">View / Edit User</h4>
      
      
      <form [formGroup]="resetformone">
        <div class="newone">
        <section class="fs-16 mb-16">
          <mat-label></mat-label>    
          <div *ngIf="photoURL != null"><img [src]="photoURL" style="border: 3px solid black;border-radius:6px;height: 20%; width:20%"></div><br>        
        
        <mat-label>Update User Photo
          <input type="file"
          id="file"
        
        #userPhoto
        (change)="onFileSelected($event)"
        name="image"
        autocomplete="off" accept=".png,.jpg"
        />
        </mat-label>  
        <br/>          
    </section>
    </div>

        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>Employee ID</mat-label>
          <input matInput type="text" value="User" placeholder="Employee ID" formControlName="userId" readonly>
        </mat-form-field>
        
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput type="text"    formControlName="firstName"     [disabled]="true">
        </mat-form-field>
        
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" value="User" placeholder="Enter user's last name" formControlName="lastName" [readonly]="!issuperAdmin" >
        </mat-form-field>
        
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>Date of Birth</mat-label>
          <input matInput type="date" placeholder="Date of Birth"   formControlName="dob" [max]="getToday()" [readonly]="!issuperAdmin">
        </mat-form-field>

        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>Contact Number</mat-label>
          <input matInput type="text" placeholder="Enter Contact Number" maxlength="10" formControlName="phone" >
          <mat-error *ngIf="phone?.errors?.['required']">
            Contact number is required
          </mat-error>
          <mat-error *ngIf="phone?.errors?.['pattern']">
            Mobile number is not 10 digit
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>Personal Mail</mat-label>
          <input matInput type="email" placeholder="Enter user's personal email"  formControlName="email"  readonly>
        </mat-form-field>
        
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>Official Mail</mat-label>
          <input matInput type="email" placeholder="Enter company email"   formControlName="officeEmail" [readonly]="!issuperAdmin" >
        </mat-form-field>
        
        <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Date of Joining</mat-label>
            <input matInput  type="date" placeholder="Date of Joining"  formControlName="doj"  [max]="getToday()" [readonly]="!issuperAdmin" >
          </mat-form-field>

          <mat-form-field class="w-100 fs-16" appearance="outline">
              <mat-label>Designation</mat-label>
              <input matInput type="text" placeholder="User Designation" formControlName="role"   [readonly]="!issuperAdmin">
            </mat-form-field>            

          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Project</mat-label>           
            <mat-select     formControlName="project" [disabled]="!issuperAdmin" >
              <ng-container *ngFor="let role of projectSheetList">
                <mat-option value="{{role.pproject}}" >{{role.pproject}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>          
  
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>Address for Communication</mat-label>
          <textarea matInput  rows="5" placeholder="Address for Communication" formControlName="address"></textarea>
        </mat-form-field>
        

        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>skill set</mat-label>
          <textarea matInput  rows="5" placeholder="Address for Communication" formControlName="skillSet"></textarea>
        </mat-form-field>

        

        <!-- <mat-form-field class="w-100 fs-16 demo-chip-list">
          <mat-label>Skill Set</mat-label>
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let skill of userSkillSet" [selectable]="selectable" [removable]="removable"
              (removed)="remove(skill)">
              {{skill.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Add new Skill Set..." [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)" formControlName="skillSet" />
          </mat-chip-list>
        </mat-form-field> -->
        
        
       <!-- <button mat-raised-button class="mb-16 btn btn-info" color="accent" (click)="onEdit()">Edit</button>&nbsp; -->
        <button mat-raised-button class="mb-16 btn btn-info" (click)="updateeditUser()">Update User Details</button>       
        &nbsp;

        
         <button *ngIf="isAdmin" mat-raised-button right class="me-8 mb-8" color="warn" (click)="deleteUser()">Delete User</button> 

         <div role="alert"  *ngIf="error.length > 0" class="alert alert-danger alert-text-danger align-items-center d-flex fs-14 mb-16 rounded ng-star-inserted"><i-feather _nghost-dto-c11="" class="feather-base me-12 text-danger" ng-reflect-name="alert-circle"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="feather feather-alert-circle">
          <line x1="12" y1="16" x2="12.01" y2="16"  ></line>
          </svg></i-feather> {{error}} 
        </div>

      </form>
    </div>
  </div>
  
  
  
  <!-- Form Design Type -->
  <!-- <div class="card">
    <div class="card-body">
      <h4 class="mb-32">Form Design Type</h4>
  
      <mat-form-field class="me-24 fs-16" appearance="outline">
        <mat-label>Outlined</mat-label>
        <input matInput>
      </mat-form-field>
  
      <mat-form-field class="me-24 fs-16" appearance="fill">
        <mat-label>Filled</mat-label>
        <input matInput>
      </mat-form-field>
  
      <mat-form-field class="me-24 fs-16" appearance="legacy">
        <mat-label>Standard</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div> -->
  