<!-- Form Layout -->
<div class="card">
    <div class="card-body">
      <h4 class="btn btn-danger active"><b>Add User</b></h4>
      <form [formGroup]="signUpForm"  (ngSubmit)="submit()">

        <section class="fs-16 mb-16" >
          <mat-label style="color:rgb(0, 255, 68);" ><b>Upload User Photo / Documents</b>
            <input type="file"
          id="file"
          
          #userPhoto
          (change)="onFileSelected($event)"
          name="image"
          autocomplete="off" accept=".png,.jpg"
          />
          </mat-label>  
          <br/>          
          <div *ngIf="fb != null"><img [src]="fb" style="border: 3px solid rgb(0, 0, 0);border-radius:6px;height: 20%; width:20%"></div>
       </section>
        
        <mat-form-field class="w-75 fs-16" appearance="outline">
          <mat-label class="btn-link"><b>First Name</b> </mat-label>
          <input matInput type="text" class="alert alert-danger alert-text-danger align-items-center " placeholder="Enter user's FirstName" maxlength="30" [value]="ud.firstName" formControlName="firstName"/>
          <mat-error  *ngIf="firstName?.errors?.['required']">
            FirstName is required
          </mat-error>
          <mat-error *ngIf="firstName?.errors?.['pattern']">
            Only alphabets allowed
          </mat-error>
        </mat-form-field>

    
        <mat-form-field class="w-75 fs-16" appearance="outline">
          <mat-label class="btn-link"><b>Middle Name</b></mat-label>
          <input matInput type="text" class="alert alert-danger alert-text-danger align-items-center "placeholder="Enter user's MiddleName" [value]="ud.lastName"  formControlName="middleName"/>
          <mat-error *ngIf="MiddleName?.errors?.['pattern']">
            Only alphabets allowed
          </mat-error>
        </mat-form-field>


        <mat-form-field class="w-75 fs-16" appearance="outline">
          <mat-label class="btn-link"><b>Last Name</b></mat-label>
          <input matInput type="text" class="alert alert-danger alert-text-danger align-items-center "placeholder="Enter user's LastName" [value]="ud.lastName"  formControlName="lastName"/>
          <mat-error *ngIf="lastName?.errors?.['pattern']">
            Only alphabets allowed
          </mat-error>
        </mat-form-field>
       
        <mat-form-field class="w-75 fs-16"  appearance="outline">
          <mat-label class="btn-link"><b>Personal Email</b></mat-label>
          <input matInput type="email"  class="alert alert-danger alert-text-danger align-items-center "placeholder="Enter user's personal email" [value]="ud.email" formControlName="email"/>
          <mat-error *ngIf="email?.errors?.['required']">
            Email is required
          </mat-error>
          <mat-error *ngIf="email?.errors?.['email']">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-75 fs-16"  appearance="outline">
          <mat-label class="btn-link"><b>Official Email</b></mat-label>
          <input matInput type="email"  class="alert alert-danger alert-text-danger align-items-center "placeholder="Enter user's official email" formControlName="officeEmail"/>
          <mat-error *ngIf="officeEmail?.errors?.['email']">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        
        <mat-form-field class="w-75 fs-16" appearance="outline">
          <mat-label class="btn-link"><b>Contact Number</b></mat-label>
          <input matInput type="text"  class="alert alert-danger alert-text-danger align-items-center "placeholder="Enter user's contact number" maxlength="10" formControlName="phone"/>
          <mat-error *ngIf="phone?.errors?.['required']">
            Contact number is required
          </mat-error>
          <mat-error *ngIf="phone?.errors?.['pattern']">
            Mobile number should numbers and 10 digit start with 9 and 8
          </mat-error>
        </mat-form-field>


        <mat-form-field class="w-75 fs-16" appearance="outline">
          <mat-label class="btn-link"><b>Contact Number extension</b></mat-label>
          <input matInput type="text"  class="alert alert-danger alert-text-danger align-items-center "placeholder="Enter user's contact number extension" maxlength="10" formControlName="phone"/>
          <mat-error *ngIf="phone?.errors?.['pattern']">
            Mobile number should numbers and 10 digit start with 9 and 8
          </mat-error>
        </mat-form-field>


        <mat-form-field class="w-75 fs-16"  appearance="outline">
          <mat-label class="btn-link"><b>User Designation</b></mat-label>
          <mat-select formControlName="role" class="alert alert-danger alert-text-danger align-items-center " placeholder="Role of Employee" >
            <ng-container *ngFor="let role of roleSheetList">
              <mat-option value="{{role.proleid}}">{{role.prole}}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="role?.errors?.['required']">
              Role is required
            </mat-error>
         </mat-form-field>

         <mat-form-field class="w-75 fs-16" appearance="outline">
          <mat-label class="btn-link"><b>Project</b></mat-label>
          <mat-select    class="alert alert-danger alert-text-danger align-items-center "placeholder="Project"   formControlName="project">
          <ng-container *ngFor="let role of projectSheetList">
            <mat-option value="{{role.pproject}}">{{role.pproject}}</mat-option>
          </ng-container>
        </mat-select>
          <mat-error *ngIf="project?.errors?.['required']">
            Project is required
          </mat-error>
          </mat-form-field>

      <!--   <mat-form-field class="w-75 fs-16" appearance="outline">
          <mat-label>Project</mat-label>
          <input matInput type="text" placeholder="Project"   formControlName="project"/>
          <mat-error *ngIf="project?.errors?.['required']">
            Project is required
          </mat-error>
        </mat-form-field>
      -->

        <mat-form-field class="w-75 fs-16" appearance="outline">
          <mat-label class="btn-link"><b>Address for Communication</b></mat-label>
          <input matInput type="text"  class="alert alert-danger alert-text-danger align-items-center "placeholder="Address"   formControlName="address"/>
        </mat-form-field><br>

        <mat-form-field class="w-75 fs-16" appearance="outline">
          <mat-label class="btn-link"><b>Skill Set</b></mat-label>
          <input matInput type="text"  class="alert alert-danger alert-text-danger align-items-center "placeholder="Skill set"   formControlName="skillSet"/>
        </mat-form-field><br>


        <mat-form-field class="w-75 fs-16" appearance="outline">
          <mat-label class="btn-link"> <b>Experiance</b></mat-label>
          <input matInput type="text"  class="alert alert-danger alert-text-danger align-items-center "placeholder="Experiance"   formControlName="Experiance"/>
        </mat-form-field><br>

      

         <mat-form-field class="w-75 fs-16"  appearance="outline">
            <mat-label class="btn-link"><b>Birth Date (DOB)</b></mat-label>
           <input matInput type="date"  class="alert alert-danger alert-text-danger align-items-center " max=today placeholder="Date of Birth" [value]="ud.dob" [max]="getToday()" ngModel [min]="minDateyy()" ngModel   formControlName="dob"/> 
           <mat-error *ngIf="dob?.errors?.['required']">
            DOB is required
          </mat-error>            
         </mat-form-field><br>

        
         <mat-form-field class="w-75 fs-16"  appearance="outline">
            <mat-label class="btn-link"><b>Joining Date (DOJ)</b></mat-label>
            <input matInput type="date"  class="alert alert-danger alert-text-danger align-items-center "placeholder="Date of Joining" [value]="ud.doj" [max]="getToday()" ngModel required formControlName="doj"/>
            <mat-error *ngIf="doj?.errors?.['required']">
              DOJ is required
            </mat-error>
         </mat-form-field> <br>


       
      
    <!--    <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>User ID</mat-label>
            <input matInput type="text" disabled placeholder="User ID" value="SB004V1"/>
          </mat-form-field>  -->

  <!--    <div class="row">
          <mat-form-field  appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput  placeholder="Password" formControlName="password" />
            
            <mat-error *ngIf="password?.errors?.['required']">
               Password is required 
            </mat-error>
            <mat-error *ngIf="password?.errors?.['minlength']">
              Password must be at least 8 characters long.
           </mat-error>
           </mat-form-field>

           <mat-form-field  appearance="outline">
            <mat-label>ConfirmPassword</mat-label>
           <input
             matInput
             type="password"
             placeholder="Confirm Password"
             formControlName="confirmPassword"
           />    
           <mat-error *ngIf="confirmPassword?.errors?.['required']">
             Confirm Password is required
           </mat-error>
           </mat-form-field>
           <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
             Passwords should match
           </mat-error>
        </div>
          
          

  <!--      <section class="fs-16">
            <mat-checkbox color="primary" [checked]="checked" (change)="onCheck()" class="d-block mb-16">Generate Company Email</mat-checkbox>
            <mat-form-field *ngIf="checked" class="w-100" appearance="outline">
                <mat-label>Company Email Format</mat-label>
                <input matInput type="text" placeholder="Enter Company Email Format" value="user@softblobs.com">
              </mat-form-field>
          </section>
  
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>More Details</mat-label>
          <textarea matInput rows="6" placeholder="Enter more information about the user" value="Verified, added by Admin"></textarea>
        </mat-form-field>
<!--         
        <mat-radio-group color="primary" class="fs-16" aria-label="Select an option">
          <mat-label class="text-secondary">Gender</mat-label>
          <mat-radio-button value="1" class="mt-8 mb-16 d-block" [checked]="checked">Female</mat-radio-button>
          <mat-radio-button value="2" class="d-block mb-16">Male</mat-radio-button>
          <mat-radio-button value="3" class="d-block mb-36">Other</mat-radio-button>
        </mat-radio-group> -->
        
        
  
        <button mat-button class="btn btn-info fw-normal"  [disabled]="signUpForm.invalid"  type="submit">Submit</button>

      
      <div role="alert"  *ngIf="error.length > 0" class="alert alert-danger alert-text-danger align-items-center d-flex fs-14 mb-16 rounded ng-star-inserted"><i-feather _nghost-dto-c11="" class="feather-base me-12 text-danger" ng-reflect-name="alert-circle"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="feather feather-alert-circle">
        <line x1="12" y1="16" x2="12.01" y2="16"></line>
        </svg></i-feather> {{error}} 
      </div>

      </form>
    </div>
  </div>
  