<!-- Daily Activity -->
<mat-card class="w-100">
    <mat-card-content>
      <h4 class="mb-16" class="btn-link"><b>View & Manage Users</b></h4>
      <button mat-raised-button right class="me-8 mb-8" (click)="onAddUser()" class="btn btn-danger active">Add New User</button>
  
      <div class="table-responsive">
        
        <table mat-table [dataSource]="datasoc" class="text-nowrap w-100">
          
          <!-- Id Column -->
          <ng-container matColumnDef="uid" >
            <th mat-header-cell  *matHeaderCellDef class="alert alert-primary alert-text-danger align-items-center " style="color:rgb(255, 0, 187);"> <b><i>ID </i></b></th>
            <td mat-cell class="fw-medium" *matCellDef="let element" > {{element.userId}} </td>
            

            </ng-container>
            
  
          <!-- Assigned Column -->
          <ng-container matColumnDef="assigned">
            <th mat-header-cell *matHeaderCellDef class="alert alert-primary alert-text-danger align-items-center "style="color:rgb(255, 0, 187);"><b> <i>Name</i></b> </th>
            <td mat-cell *matCellDef="let element" >
              <p class="mb-0 fw-medium">{{ element.firstName }}</p>
              <p class="mb-0 fw-normal op-5">{{ element.work }}</p>
            </td>
          </ng-container>
  
          <!-- Project Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="alert alert-primary alert-text-danger align-items-center" style="color:rgb(255, 0, 187);"> <b><i>lastName</i></b> </th>
            <td mat-cell *matCellDef="let element">
              <p class="mb-0 fw-medium op-3">{{element.lastName}}</p>
              
            </td>
          </ng-container>
  
          <!-- Priority Column 
          <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">
              <span class="badge {{element.badge}} rounded-pill">{{element.project}}</span>
            </td>
          </ng-container> -->
  
          <!-- doj Column -->
          <ng-container matColumnDef="doj">
            <th mat-header-cell *matHeaderCellDef class="alert alert-primary alert-text-danger align-items-center "style="color:rgb(255, 0, 187);"> <b><i>Project</i></b> </th>
            <td mat-cell *matCellDef="let element">
              <p class="mb-0 fw-medium">{{element.project}}</p>
            </td>
          </ng-container>

           <!-- view Column -->
           <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef class="alert alert-primary alert-text-danger align-items-center "style="color:rgb(255, 0, 187);"><b><i>Details</i></b></th>
            <td mat-cell *matCellDef="let element">
              <!-- <p class="mb-0 fw-medium">{{element.id}}</p> -->
              <button mat-raised-button class="me-1 mb-1" (click)="onView(element.id)" color="primary">View</button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>