// .table-responsive {
//     overflow-x: auto;
//   }
  
//   td.mat-cell {
//     padding: 16px;
//   }
  
//   th.mat-header-cell:first-of-type,
//   td.mat-cell:first-of-type,
//   td.mat-footer-cell:first-of-type {
//     padding: 16px;
//   }
  
//   th.mat-header-cell {
//     padding: 16px;
//   }
  
//   .mat-header-cell {
//     font-size: 14px;
//   }
  
.table-responsive {
  overflow-x:visible;
}


tr.mat-row:nth-child(even)
 {
  padding: 16px;
  table-layout:inherit;
  background-color:rgb(144, 185, 192);
}




th.mat-header-cell:first-of-type
 {
  padding: 16px;
  table-layout:inherit;
  background-color:rgb(181, 172, 216);
}

th.mat-header-cell {
  padding: 16px;
  table-layout:fixed;
  background-color:rgb(181, 172, 216);
}

.mat-header-cell {
  font-size: 14px;
  table-layout:fixed;
  background-color:darkorange;
}

  