<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-5 col-md-8 col-sm-4">            
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon " >
                      <div class="card-icon " class="col-lg-4 col-md-10 col-sm-4">
                          <i class="material-icons  btn-success col-md-15 " >list</i>
                      </div>
                      <p class="card-category text-right text-primary">Manage Users</p>
                      <h4 class="card-title text-right text-primary">Add New User
                          
                      </h4>
                  </div>
                  <div class="card-footer1">
                      <div class="stats">
                          <i class="material-icons btn-link">list</i>
                          <a href="javascript:void(0)">View And Manage The Users</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-5 col-md-8 col-sm-4">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon" class="col-lg-4 col-md-8 col-sm-4">
                          <i class="material-icons  btn-warning col-md-15">date_range</i>
                      </div>
                      <p class="card-category text-right text-primary">Calendar</p>
                      <h4 class="card-title text-right text-primary">Holiday list</h4>
                  </div>
                  <div class="card-footer2">
                      <div class="stats">
                          <i class="material-icons btn-link ">date_range</i> Last 24 Hours
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-5 col-md-8 col-sm-4">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon" class="col-lg-4 col-md-8 col-sm-4">
                        <i class="material-icons btn-danger col-md-15">settings</i>
                    </div>
                    <p class="card-category text-right text-primary">Manage VMs</p>
                    
                </div>
                <div class="card-footer3">
                    <div class="stats">
                        <i class="material-icons  btn-link">settings</i> Settings & Manage The VMs
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-8 col-sm-4">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon" class="col-lg-4 col-md-8 col-sm-4">
                        <i class="material-icons btn-success col-md-15">folder</i>
                    </div>
                    <p class="card-category text-right text-primary">Time Sheet</p>
                    <h4 class="card-title text-right text-primary">Total Timesheets Applied
                          
                    </h4>
                    
                </div>
                <div class="card-footer4">
                    <div class="stats">
                        <i class="material-icons  btn-link">folder</i>Upload the Task
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-8 col-sm-4">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon" class="col-lg-4 col-md-8 col-sm-4">
                        <i class="material-icons btn-warning col-md-15">edit</i>
                    </div>
                    <p class="card-category text-right text-primary">Leave Request</p>
                    <h4 class="card-title text-right text-primary">Leaves  Applied
                          
                    </h4>
                    
                </div>
                <div class="card-footer1">
                    <div class="stats">
                        <i class="material-icons btn-link ">edit</i>Requsting For Leaves
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-8 col-sm-4">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon" class="col-lg-4 col-md-8 col-sm-4">
                        <i class="material-icons btn-danger col-md-15">search</i>
                    </div>
                    <p class="card-category text-right text-primary">Leave List</p>
                    
                </div>
                <div class="card-footer2">
                    <div class="stats">
                        <i class="material-icons btn-link">search</i>Search The List Of Leaves
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-8 col-sm-4">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon" class="col-lg-4 col-md-8 col-sm-4">
                        <i class="material-icons btn-info col-md-15">info</i>
                    </div>
                    <p class="card-category text-right text-primary">Approve Timesheet</p>
                    
                </div>
                <div class="card-footer3">
                    <div class="stats">
                        <i class="material-icons btn-link">info</i>Approval Timesheet Info
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-8 col-sm-4">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon" class="col-lg-4 col-md-8 col-sm-4">
                        <i class="material-icons btn-warning col-md-15">share</i>
                    </div>
                    <p class="card-category text-right text-primary">Approve Leave</p>
                    
                </div>
                <div class="card-footer4">
                    <div class="stats">
                        <i class="material-icons btn-link">share</i>Approval Leave
                    </div>
                </div>
            </div>
        </div>
         

         
                   

                
                



 
