

  .example-card {
    width: 800px;
    margin-bottom: 8px;
    margin-left: 60px;
  };

  .example-cardd{
    width: 800px;
    margin-bottom: 8px;
    margin-left: 60px;
  }

  .btn-link{
    color:rgb(0, 140, 255);
    font-size: 1rem;
}

.btn-linkk{
    color:rgb(123, 78, 194);
    font-size: 1.5rem;
}

.btn-linkkk{
    color:rgb(255, 0, 85)
}

span {
    
    margin: 10px    /* apply the needed vertical margins */
}