
<div  >
<mat-card class="example-card">
    <mat-card-content>
      <h4 class="mb-60">Roles</h4>    
    <button class="btn btn-primary float-right" (click)="addEvent()">
      Add new
    </button>
    <br/>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>          
            <th>Roles</th>
            
            <th colspan="2">Action</th>   
          </tr>
        </thead>
    
        <tbody>
          <tr *ngFor="let list of sheetList">              
            <td>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="list.prole"
                (keyup)="refresh.next()"
                [disabled]="list.status == 'Approved'"
              />
            </td>
            
           
            
             
            <td> <button  class="btn btn-primary active" [disabled]="list.status == 'Approved'" (click)="update(list)">Save</button> </td>
            <td><button id="remove" class="btn btn-danger"  (click)="delete(list.id)">Delete</button></td>          
          </tr>
          
        </tbody>    
      </table>
    </div>
      
      
    </mat-card-content>
  </mat-card> 



  
  <mat-card class="example-cardd">
    <mat-card-content>
      <h4 class="mb-60">Projects</h4>
      <button class="btn btn-primary float-right" (click)="paddEvent()">
        Add
      </button>
      <br/>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>          
              <th>projects</th>
              
              <th colspan="2">Action</th>   
            </tr>
          </thead>
      
          <tbody>
            <tr *ngFor="let lists of psheetList">              
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="lists.pproject"
                  (keyup)="refresh.next()"                  
                />
              </td>  
              <td> <button  class="btn btn-primary active"  (click)="pupdate(lists)">Save</button> </td>
              <td><button id="premove" class="btn btn-danger"  (click)="pdelete(lists.id)">Delete</button></td>          
            </tr>
            
          </tbody>    
        </table>
      </div>      
    </mat-card-content>
  </mat-card>



  <mat-card class="example-cardd">
    <mat-card-content>
      <h4 class="mb-60">Time sheet</h4>
      <span ><a  class="btn-link"   >    Total Timesheets Approved    :{{alltimel}}</a>             </span>  
              <span ><a  class="btn-linkk"  href="/approve-timesheet" >Total Timesheets Pending  :{{pendingtimel}}</a>    </span> 
           
    </mat-card-content>
  </mat-card>

  <mat-card class="example-cardd">
    <mat-card-content>
      <h4 class="mb-60">Leave Info</h4>
      <span ><a  class="btn-link"   >    Total Leaves Approved    :200</a>             </span>  
              <span ><a  class="btn-linkk" href="/approve-leaverequest"  >Total Leaves Pending  :{{54}}</a>    </span> 
           
    </mat-card-content>
  </mat-card>

</div>
