
<div style="display:inline;">
<h3 class="btn-link">Approve Time Sheet</h3>

<h4 style="color:rgb(0, 255, 179);">   
   
  <select style="float: left; margin-top: 34px; width: 220px;"  formControlName="userName" (change)="changeUser($event)" aria-placeholder="select">    
    <option [ngValue]="undefined" selected disabled="disabled">Select User</option>
    <option *ngFor="let user of approveDropSheetList" [ngValue]="user.userId">   
      {{ user.userName }}
    </option>
  </select>
  <mat-form-field style="float: right;">    
    <input matInput [matDatepicker]="picker" [(ngModel)]="curDate" [max]="maxDate" placeholder="Choose a date" (dateChange)="onChangeEvent($event)" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker ></mat-datepicker>    
  </mat-form-field>  
  <div class="clearfix"></div>  


</h4>

<button class="btn btn-danger active float-right" (click)="approve(approveSheetList)" >Approve</button>
<br/>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead class="headerstyle">
      <tr>                
        <th style="color:rgb(255, 0, 187);"><b>Select</b></th>        
        <th style="color:rgb(255, 0, 187);">Task</th>
        <th style="color:rgb(255, 0, 187);">Description</th>
        <th style="color:rgb(255, 0, 187);">Hours</th>  
        <th style="color:rgb(255, 0, 187);">Status</th> 
      </tr>
    </thead>
    <tbody>      

      <tr *ngFor="let list of approveSheetList">  
<td><input  type="checkbox"  [checked]="list.selected"  [disabled]="list.status == 'Approved'"   value="{{list.id}}" (change)="onCheckboxChange($event)"/></td>

        <td>
          <span > {{list.task}} </span>
        </td>
        <td>  
        <span > {{list.description}} </span>
      </td>
        <td>
        <span > {{list.hours}} </span>
        </td>   
        <td>
          <span > {{list.status}} </span>
        </td>    
      </tr>      
    </tbody>    
  </table>
</div>
<div>
   
      <div style="float: right;">
        <button type="submit" value="Submit" class="btn btn-primary active" style="margin-left: 50px;" (click)="checkAll()">Select All</button> 
        <div class="space">
        </div>
        <button type="submit" value="Submit" class="btn btn-danger" style="margin-right: 5px;" (click)="uncheckAll()">Deselect All</button>
      </div>

      <div role="alert"  *ngIf="error.length > 0" class="alert alert-danger alert-text-danger align-items-center d-flex fs-14 mb-16 rounded ng-star-inserted"><i-feather _nghost-dto-c11="" class="feather-base me-12 text-danger" ng-reflect-name="alert-circle"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="feather feather-alert-circle">
        <line x1="12" y1="16" x2="12.01" y2="16"></line>
        </svg></i-feather> {{error}} 
      </div>



      
<!-- <div>{{sheetList.task}}</div> -->
 
                                  