tr.mat-row:nth-child(even){
    background-color:darkgoldenrod;
  }
  th.mat-header-cell {
    padding: 16px;
    background-color:brown;
  }
  .btn-link{
    color:rgb(0, 140, 255)
}

.btn-linkk{
    color:rgb(30, 255, 0)
}

.btn-linkkk{
    color:rgb(255, 0, 85)
}
  
  