<!-- Form Layout -->
<div class="card">
    <div class="card-body">
      <h4 class="mb-32">Change Password</h4>
      <form [formGroup]="resetform" >          
      <!--  <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>User ID</mat-label>
            <input matInput type="text" disabled placeholder="User ID" value="SB004V1">
          </mat-form-field>
        -->
        
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Enter Email" formControlName="email">
        </mat-form-field>
        
      <!--  <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" placeholder="Enter password" formControlName="password">
          </mat-form-field>
        -->
          <div role="alert" *ngIf="error.length > 0" class="alert alert-danger alert-text-danger align-items-center d-flex fs-14 mb-16 rounded ng-star-inserted"><i-feather _nghost-dto-c11="" class="feather-base me-12 text-danger" ng-reflect-name="alert-circle"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="feather feather-alert-circle">
            <circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line>
        </svg></i-feather> {{error}}</div>
  
        <div class="button-row mb-24">
            <button mat-raised-button class="me-8 mb-8 btn btn-info fw-normal" (click)="resetPassword()" type="Update">Submit</button>
          <!--  <button mat-raised-button class="me-8 mb-8" color="warn">Cancel</button> -->
          </div>
        
      </form>
    </div>
  </div>