<!-- Form Layout -->
<div class="card">
    <div class="card-body">
      <h4 class="mb-32">Change Password</h4>
      <form [formGroup]="resetform" > 

       <mat-form-field class="w-75 fs-16" appearance="outline">
            <mat-label>User ID</mat-label>
            <input matInput type="text" disabled placeholder="User ID" value={{userid}}>
          
      </mat-form-field>
        
        
        <mat-form-field class="w-75 fs-16" appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput type="text" disabled placeholder="Enter Email" value={{username}} >
        </mat-form-field>

        <mat-form-field class="w-75 fs-16" appearance="outline">
          <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="Password" formControlName="password" />
          <mat-icon matSuffix (click)="togglePasswordVisibility()">{{showPassword?'visibility_off':'visibility'}}</mat-icon>
          <mat-error *ngIf="password?.errors?.['required']">
             Password is required
          </mat-error>
          <mat-error *ngIf="password?.errors?.['minlength']">
            Password must be at least 8 characters long.
         </mat-error>
          </mat-form-field>

          <mat-form-field class="w-75 fs-16" appearance="outline">
            <input
              matInput
              type="password"
              placeholder="Confirm Password"
              formControlName="confirmPassword"
            />    
            <mat-error *ngIf="confirmPassword?.errors?.['required']">
              Confirm Password is required
            </mat-error>
            </mat-form-field>
            <mat-error *ngIf="resetform.errors?.['passwordsDontMatch']">
              Passwords should match
            </mat-error>
  
        <div class="button-row mb-24">
            <button mat-raised-button class="me-8 mb-8 btn btn-info fw-normal" (click)="resetPassword()" type="submit" [disabled]="resetform.invalid" >Submit</button>
          <!--  <button mat-raised-button class="me-8 mb-8" color="warn">Cancel</button> -->
          </div>


          <div role="alert" *ngIf="error.length > 0" class="alert alert-danger alert-text-danger align-items-center d-flex fs-14 mb-16 rounded ng-star-inserted"><i-feather _nghost-dto-c11="" class="feather-base me-12 text-danger" ng-reflect-name="alert-circle"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="feather feather-alert-circle">
            <circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line>
        </svg></i-feather> {{error}}</div>
        
      </form>
    </div>
  </div>