<h3>Time Sheet</h3>

<h4 style="color:blue;">   
    <mat-form-field style="float: right;">
    <input matInput [matDatepicker]="picker" [(ngModel)]="curDate" [max]="maxDate"  [min]="minDate" placeholder="Choose a date" (dateChange)="onChangeEvent($event)" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker ></mat-datepicker>
  </mat-form-field>  
  <div class="clearfix"></div>   
</h4>
<!-- <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </div>
    </div>
  </div> -->
<button class="btn btn-primary float-right" (click)="addEvent()">
  Add new
</button>

<br/>

<div class="table-responsive">     
   <table class="table table-bordered" id="mytable">

    <thead>
      <tr>          
        <th>Task</th>
        <th>Description</th>
        <th>Hours</th>  
        <th>Status</th>
        <th colspan="2">Action</th>   
      </tr>
    </thead>

    <tbody>
      
        <tr *ngFor="let list of sheetList">              
        <td>
           <input
           id="name" 
           required maxlength="150" minlength="1"
           ngModel name="name" #name="ngModel"
           placeholder="Enter a task"
            type="text"            
            class="form-control"
            [(ngModel)]="list.task"
            (keyup)="refresh.next()"
            [disabled]="list.status == 'Approved'"
            
          />

          <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert alert-info">
          <div *ngIf="name.invalid && (name.dirty || name.touched)"
          class="alert alert-info">

          <div *ngIf="name.errors?.['required']">
          required.
          </div>
          </div>  
          </div>
        </td>
        
        <td > <input
          id="description" 
         required maxlength="300" minlength="1"
         ngModel description="name" #description="ngModel"
          placeholder="Enter a description "
          type="text"
          class="form-control"
          [(ngModel)]="list.description"
          (keyup)="refresh.next()"
          [disabled]="list.status == 'Approved'"      
          
    
          />

          <div *ngIf="description.invalid && (description.dirty || description.touched)"
           class="alert alert-info">
          <div *ngIf="description.invalid && (description.dirty || description.touched)"
           class="alert">

          <div *ngIf="description.errors?.['required']">
          required.
          </div>
          </div>  
        </div> 
        </td>

        <td><input           
          id="hour" 
         required min="1" max="8"
         ngModel name="hour" #hour="ngModel"  (change)='onSelectChange($event)'        
         
          class="form-control"
          [(ngModel)]="list.hours"
          (keyup)="refresh.next()"
          [disabled]="list.status == 'Approved'"
          type="text" pattern="[1-8]{1}"  
          maxlength="1"
          placeholder="Enter hours"

        />

        <div *ngIf="hour.invalid && (hour.dirty || hour.touched)"
           class="alert alert-info">Max 8 hours
          <div *ngIf="hour.invalid && (hour.dirty || hour.touched)"
           class="alert alert-info">Min 1 hour
          <div *ngIf="hour.errors?.['required']">
           required.
          </div>
          <div *ngIf="hour.errors?.['min']">
             Min 1 hour             
          </div>
          </div>  
          </div>
        </td>  
        <td>
          {{list.status}}
        </td> 
        <!-- <td> <button mat button class="btn btn-primary active" [disabled]="list.status == 'pending' || list.status == 'Approved' || hour.invalid || name.invalid || description.invalid " (click)="update(list)">Save</button> </td> -->
       <!-- <td> <button  class="btn btn-primary active" [disabled]="list.status != 'pending' || list.status == 'Approved' ||  hour.invalid || name.invalid || description.invalid " (click)="updatelist(list)">Update</button> </td>-->
        <td><button id="remove" class="btn btn-danger"  [disabled]="list.status == 'Approved'"  [hidden]="list.status == 'Approved'"(click)="delete(list.id,$event)">Delete</button></td>          
     <!--<td><mat-icon mat-raised-button id="remove" style="color: red;"class="me-1 mb-1" (click)="delete(list.id,$event)" color="primary">delete</mat-icon> </td>-->

      </tr>
    <!-- </form> -->
      <tr>
        <td *ngIf="sheetList.length == 0" colspan="5">
          No Recods Found
        </td>
      </tr>      
   </tbody>     
  </table> 
  <!-- <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25]"
              aria-label="Select page">
</mat-paginator>     -->
  <!-- <div role="alert"  *ngIf="error.length > 0" class="alert alert-danger alert-text-danger align-items-center d-flex fs-14 mb-16 rounded ng-star-inserted"><i-feather _nghost-dto-c11="" class="feather-base me-12 text-danger" ng-reflect-name="alert-circle"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="feather feather-alert-circle">
    <circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line>
</svg></i-feather> {{error}} 
 </div>  -->
  <span *ngIf="sheetList.length != 0 ">    
    <button class="btn btn-primary active" (click)="update(sheetList)">Update/Save</button>
  </span>

  <div style="display: none;" id="errorMsg"  class="alert alert-danger alert-text-danger align-items-center"><i-feather _nghost-dto-c11="" class="feather-base me-12 text-danger" ng-reflect-name="alert-circle"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="feather feather-alert-circle">
  <circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line>
</svg></i-feather> {{error}} 
</div>
