<h3>Time Sheet</h3>

<h4 style="color:blue;">   
    <mat-form-field style="float: right;">
    <input matInput [matDatepicker]="picker" [(ngModel)]="curDate" [max]="maxDate"   [min]="minDate" placeholder="Choose a date" (dateChange)="onChangeEvent($event)" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker ></mat-datepicker>
  </mat-form-field>  
  <div class="clearfix"></div>  
 
  
</h4>
<button class="btn btn-primary float-right" (click)="addEvent()">
  Add new
</button>
<br/>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>          
        <th>Task</th>
        <th>Description</th>
        <th>Hours</th>  
        <th>Status</th>
        <th colspan="2">Action</th>   
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let list of sheetList">              
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="list.task"
            (keyup)="refresh.next()"
            [disabled]="list.status == 'Approved'"
          />
        </td>
        <td>  <input
          type="text"
          class="form-control"
          [(ngModel)]="list.description"
          (keyup)="refresh.next()"
          [disabled]="list.status == 'Approved'"
        /></td>
        <td><input          
          class="form-control"
          [(ngModel)]="list.hours"
          (keyup)="refresh.next()"
          [disabled]="list.status == 'Approved'"
          type="number"  min=0 max=12  
        />
        </td>  
        <td>
          {{list.status}}
        </td> 
        <td> <button  class="btn btn-primary active" [disabled]="list.status == 'Approved'" (click)="update(list)">Save</button> </td>
        <td><button id="remove" class="btn btn-danger" [disabled]="list.status == 'Approved'" (click)="delete(list.id)">Delete</button></td>          
      </tr>
      
    </tbody>    
  </table>
</div>
<div>


                                  