<div style="display:inline;">
    <h3 style="color:rgb(3, 3, 71);">Generate Payslip</h3>
    
    <h4 style="color:blue;">   
       
    <!--  <select style="float: left; margin-top: 34px; width: 220px;"  formControlName="userName" (change)="changeUser($event)" aria-placeholder="select">    
        <option [ngValue]="undefined" selected disabled="disabled">Select User</option>
        <option *ngFor="let user of approveDropSheetList" [ngValue]="user.userId">   
          {{ user.userName }}
        </option>
      </select>
    
      <mat-form-field style="float: right;">    
        <input matInput [matDatepicker]="picker" [(ngModel)]="curDate" [max]="maxDate" placeholder="Choose a date" (dateChange)="onChangeEvent($event)" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>    
      </mat-form-field>  
      <div class="clearfix"></div>  
    --> 
    
    </h4>
    <mat-form-field style="float: right;">    
      <input matInput [matDatepicker]="picker" [(ngModel)]="curDate" [max]="getToday()"   [min]="minDate" placeholder="Choose a date" (dateChange)="onChangeEvent($event)" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker ></mat-datepicker>    
    </mat-form-field>  
    <div class="clearfix"></div> 
    <div role="alert"  *ngIf="error.length > 0" class="alert alert-info alert-text-danger align-items-center d-flex fs-14 mb-16 rounded ng-star-inserted"><i-feather _nghost-dto-c11="" class="feather-base me-12 text-danger" ng-reflect-name="alert-circle"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="feather feather-alert-circle"> 
      <line x1="12" y1="16" x2="12.01" y2="16"></line>
      </svg></i-feather> {{error}} 
    </div>
    
    
    <button class="btn btn-primary float-right" (click)="approve()"   [disabled]="!issuperAdmin" >Generate payslip</button><br/>
  <br>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="headerstyle">
          <tr>                
            <!--<th>Select</th>  -->      
            <th style="color:rgb(26, 84, 84);">User ID</th>
            <th style="color:rgb(26, 84, 84);">Bank Name</th>
            <th style="color:rgb(26, 84, 84);">Bank Account</th>  
            
          </tr>
        </thead>
        <tbody>      
    
          <tr *ngFor="let list of approveSheetList">  
    <!-- <td><input  type="checkbox"  [checked]="list.selected"  [disabled]="list.status == 'Approved'"   value="{{list.id}}" (change)="onCheckboxChange($event)"/></td> -->
    
            <td>
              <span > {{list.userId}} </span>
            </td>
            <td>  
            <span > {{list.bankName}} </span>
          </td>
            <td>
            <span > {{list.bankAccount}} </span>
            </td>   
               
          </tr>      
        </tbody>    
      </table>
    </div>
         <div>
       
          <div style="float: right;">
         <!--   <button type="submit" value="Submit" class="btn btn-primary active" style="margin-left: 50px;" (click)="checkAll()">Select All</button> 
            <div class="space">
            </div>
            <button type="submit" value="Submit" class="btn btn-danger" style="margin-right: 5px;" (click)="uncheckAll()">Deselect All</button>
          </div>
        
          <div role="alert"  *ngIf="error.length > 0" class="alert alert-info alert-text-danger align-items-center d-flex fs-14 mb-16 rounded ng-star-inserted"><i-feather _nghost-dto-c11="" class="feather-base me-12 text-danger" ng-reflect-name="alert-circle"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="feather feather-alert-circle"> 
            <line x1="12" y1="16" x2="12.01" y2="16"></line>
            </svg></i-feather> {{error}} 
          </div>
        -->