.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-panel-title,
mat-panel-description {
    font-size: 15px;
}

.table-responsive {
    overflow-x: auto;
  }
  
  td.mat-cell {
    padding: 16px;
  }
  
  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding: 16px;
  }
  
  th.mat-header-cell {
    padding: 16px;
  }
  
  .mat-header-cell {
    font-size: 14px;
  }
  